@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="polyfills.dll.js" defer asp-append-version="true"></script>
    <script type="text/javascript" src="vendor.dll.js" defer asp-append-version="true"></script>
    <script type="text/javascript" src="polyfills.bundle.js" defer asp-append-version="true"></script>
    <script type="text/javascript" src="vendor.bundle.js" defer asp-append-version="true"></script>
    <script type="text/javascript" src="main.bundle.js" defer asp-append-version="true"></script>
}

<app></app>

<div id="preloader">
    <div></div>
</div>